.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Minecraft
eula.txt
server.properties
ops.json
whitelist.json
banned-ips.json
banned-players.json
usercache.json
versions/
world/
logs/
libraries/

# Quilt
quilt-server-launch.jar
quilt-server-launcher.properties
quilt_loader.log
.quilt/
server.jar

# Mods
mods/
defaultconfigs/
config/
moddata/
journeymap/
patchouli_books/
bluemap/
backup/

# Packwiz
packwiz.json
packwiz-installer.jar
